*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper{
    margin: 0 auto;
    max-width: 1240px;
}

nav {
    font-size: 0;
}
nav a{
    display: inline-block;
    width: 25%;
    background-color: gray;
    font-size: 18px;
    font-family: arial;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px 0px;
    
}

nav a.btn1{
    background-color: antiquewhite;
}

nav a.btn2{
    
    background-color: blue;
}

nav a.btn3{
    background-color: whitesmoke;
}

nav a.btn4{
    
    background-color: darkcyan;
}




/* HEADER */
header{
    height: 300px;
    background-color: cadetblue;
}

main{
    min-height: 50vh;
    background-color: burlywood;
}
footer{
    min-height: 100px;
    background-color: darkcyan;
}

.myButton {
        
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.myButton:active {
	position:relative;
	top:1px;
}